{% extends 'include/base_normal.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-lg-3">
                <div class="bs-docs-sidebar">
                    <button id="delete_ok" class="btn btn-ctl-display delete-ok-style" > OK </button>
                    <hr class="btn-ctl-display">
                    <ul id="infolist" class="nav nav-list main-sidenav">
                        {% for p in infolist %}
                            <li id="{{ p.user.id }}">
                                <div class="row list-item">
                                    <div class="col-lg-9">
                                        <a href="/info/{{ p.user.id }}">{{ p.cname }}</a>
                                    </div>
                                    <div class="col-lg-3 btn-ctl-display">
                                        {% if p.user != user and not p.user.is_superuser %}
                                            <button class="btn btn-sm btn-ctl-display" onclick="DeleteUser({{ p.user.id }})"><span class="glyphicon glyphicon-remove"></span></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row infohead">
                    <div class="col-lg-10 infotitle">Infomation</div>
                    <div class="col-lg-2 infomenu">
                        {% if user == info.user or user.is_staff %}
                            <button class="btn btn-sm btn-primary" onclick="location='/editinfo/{{ info.user.id }}'">Edit</button>
                        {% endif %}
                    </div>
                </div>
                <table class="table table-bordered table-hover infotable">
                    <tr>
                        <td>Name</td>
                        <td colspan="3" >{{ info.cname }}</td>
                    </tr>
                    <tr>
                        <td>English Name</td>
                        <td>{{ info.ename }}</td>
                        <td>Birthday</td>
                        <td>{{ info.birthday|date:"Y-m-d" }}</td>
                    </tr>
                    <tr>
                        <td>Sex</td>
                        {% for key, value in SEX_TYPE.items %}
                            {% if key == info.sex %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>BloodType</td>
                        {% for key, value in BLOOD_TYPE.items %}
                            {% if key == info.bloodtype %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>CellPhone</td>
                        <td>{{ info.cellphone }}</td>
                        <td>Email</td>
                        <td>{{ info.email }}</td>
                    </tr>
                    <tr>
                        <td>MailBox</td>
                        <td colspan="3">{{ info.mailbox }}</td>
                    </tr>
                    <tr>
                        <td>Home Address</td>
                        <td colspan="3">{{ info.homeaddr }}</td>
                    </tr>
                    <tr>
                        <td>Current Address</td>
                        <td colspan="3">{{ info.currentaddr }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> <!-- /container -->

{% endblock %}

{% block extra_body %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.pin.js' %}"></script>

    <script>
        $(".bs-docs-sidebar").pin({containerSelector: ".container", minWidth: 940});
        $(document).ready(
                function()
                {
                    //$('.btn-ctl-display').hide();
                    $('#deluser').click(
                            function()
                            {
                                $('.btn-ctl-display').show();
                                /*$('.btn-ctl-display').css("display","block");*/
                            }
                    );

                    $('#delete_ok').click(
                            function()
                            {
                                $('.btn-ctl-display').hide();
                            }
                    );

                }
        );
    </script>
    <script type="text/javascript" src="{% static 'js/classmates.js' %}"></script>

{% endblock %}
