{% extends 'include/base_normal.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-lg-3">
                <div class="bs-docs-sidebar">
                    <button id="delete_ok" class="btn btn-ctl-display delete-ok-style" > OK </button>
                    <hr class="btn-ctl-display">
                    <ul class="nav nav-list main-sidenav">
                        {% for p in infolist %}
                            <li id="{{ p.user.id }}">
                                <div class="row list-item">
                                    <div class="col-lg-9">
                                        <a href="/info/{{ p.user.id }}">{{ p.cname }}</a>
                                    </div>
                                    <div class="col-lg-3 btn-ctl-display">
                                        {% if p.user != user and not p.user.is_superuser %}
                                            <button class="btn btn-sm btn-ctl-display" onclick="DeleteUser({{ p.user.id }})"><span class="glyphicon glyphicon-remove"></span></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <form class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group infohead">
                        <div class="col-lg-9 infotitle">Infomation</div>
                        <div class="col-lg-3 infomenu">
                            <input type="submit" class="btn btn-sm btn-primary " value="OK" />
                            <input type="button" class="btn btn-sm btn-primary " onclick="location='/index'" value="Cancel" />
                        </div>
                    </div>
                    <hr>
                    <input type="hidden" name="userid" value="{{ info.user.id }}" />
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-4">
                            <input type="text" name="cname" class="form-control"  value="{{ info.cname }}" readonly="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">English Name</label>
                        <div class="col-lg-4">
                            <input type="text" name="ename" class="form-control"  value="{{ info.ename }}">
                        </div>
                        <label for="name" class="col-lg-2 control-label">Birthday</label>
                        <div class="col-lg-4">
                            <input type="text" name="birthday" class="form-control"  value="{{ info.birthday|date:"Y-m-d" }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Sex</label>
                        <div class="col-lg-4">
                            <!-- <input type="text" name="sex" class="form-control"  value="{{ info.sex }}"> -->
                            <select name="sex" class="form-control">
                                {% for key, value in SEX_TYPE.items %}
                                    {% if key == info.sex %}
                                        <option value="{{ key }}" selected="selected">{{ value }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <label for="name" class="col-lg-2 control-label">BloodType</label>
                        <div class="col-lg-4">
                            <!-- <input type="text" name="bloodtype" class="form-control"  value="{{ info.bloodtype }}"> -->
                            <select name="bloodtype" class="form-control">
                                {% for key, value in BLOOD_TYPE.items %}
                                    {% if key == info.bloodtype %}
                                        <option value="{{ key }}" selected="selected">{{ value }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Cellphone</label>
                        <div class="col-lg-4">
                            <input type="text" name="cellphone" class="form-control"  value="{{ info.cellphone }}">
                        </div>
                        <label for="name" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-4">
                            <input type="text" name="email" class="form-control"  value="{{ info.email }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">MailBox</label>
                        <div class="col-lg-10">
                            <input type="text" name="mailbox" class="form-control"  value="{{ info.mailbox }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Home Address</label>
                        <div class="col-lg-10">
                            <input type="text" name="homeaddr" class="form-control"  value="{{ info.homeaddr }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Current Address</label>
                        <div class="col-lg-10">
                            <input type="text" name="currentaddr" class="form-control"  value="{{ info.currentaddr }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}

{% block extra_body %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.pin.js' %}"></script>

    <script>
        $(".bs-docs-sidebar").pin({containerSelector: ".container", minWidth: 940});
        $(document).ready(
                function()
                {
                    $('#delete_ok').click(
                            function()
                            {
                                $('.btn-ctl-display').hide();
                            }
                    );
                }
        );
    </script>

    <script type="text/javascript" src="{% static 'js/classmates.js' %}"></script>

{% endblock %}