{% extends 'include/base_normal.html' %}
{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">New Friend</h2>
            <input type="text" name="username" class="form-control border-radius-top" placeholder="Account" required>
            <input type="text" name="password" class="form-control border-radius-bottom" placeholder="Password" required>
            <input type="text" name="cname" class="form-control border-radius-single" placeholder="Name" required>
            <table>
                <tr>
                    <td><input class="btn btn-lg btn-primary btn-block" type="submit" value="OK" /></td>
                    <td><input class="btn btn-lg btn-primary btn-block" type="button" onclick="location='/index'" value="Cancel" /></td>
                </tr>
            </table>
        </form>
    </div> <!-- /container -->

{% endblock %}

{% block extra_body %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

{% endblock %}