{% extends 'include/base_normal.html' %}
{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Edit your password</h2>
            <input type="password" name="oldpassword" class="form-control border-radius-single" placeholder="Old Password" required>
            <input type="password" name="newpassword" class="form-control border-radius-top" placeholder="New Password" required>
            <input type="password" name="confirmpassword" class="form-control border-radius-bottom" placeholder="Confirm New Password" required>
            <table>
                <tr>
                    <td><input class="btn btn-lg btn-primary btn-block" type="submit" value="OK" /></td>
                    <td><input type="button" class="btn btn-lg btn-primary btn-block" onclick="location='/index'" value="Cancel" /></td>
                </tr>
            </table>
        </form>
    </div> <!-- /container -->

{% endblock %}


