{% extends 'include/base_full.html' %}
{% load i18n %}
{% load staticfiles %}

{% block extra_head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">{% trans 'We are here...' %}</h2>
            <input type="text" name="username" class="form-control border-radius-top" placeholder="{% trans 'Account' %}" required {% if not username %} autofocus {% endif %} value="{{ username }}">
            <input type="password" name="password" class="form-control border-radius-bottom" placeholder="{% trans 'Password' %}" required {% if username %} autofocus {% endif %}>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="rememberme">{% trans 'Remember me' %}
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Sign in' %}">
        </form>

    </div> <!-- /container -->

{% endblock %}
