{% extends 'include/base_normal.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-lg-3">
                <div class="bs-docs-sidebar">
                    <ul id="infolist" class="nav nav-list main-sidenav">

                        {% for p in infolist %}
                            <li id="{{ p.user.id }}">
                                <div class="row list-item">
                                    <a href="/info/{{ p.user.id }}">{{ p.cname }}</a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-lg-7">
               {% block activity_main_col %}
                   <p>Let's create an activity!</p>
               {% endblock %}
            </div>

            <div class="col-lg-2">
                <div class="bs-docs-sidebar bs-docs-sidebar-btn-group-2">

                    <div class="row">
                        <button class="btn btn-primary">Add</button>
                        <button class="btn btn-primary">Del</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary">Join</button>
                        <button class="btn btn-primary">Quit</button>
                    </div>

                    <div class="participants-list-header">
                        <label>Participants</label>
                    </div>

                    <ul id="infolist" class="nav nav-list main-sidenav">

                        {% for p in infolist %}
                            <li id="{{ p.user.id }}">
                                <div class="row list-item">
                                    <a href="/info/{{ p.user.id }}">{{ p.cname }}</a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>  <!-- /row -->
    </div> <!-- /container -->

{% endblock %}
