{% extends 'activity_base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block activity_main_col %}

    <div class="row">
        <!-- Activity info row -->
        <div class="activity-info">
            <input type="hidden" id="activityid" name="activityid" value="{{ activity.id }}">
            <div class="activity-info-title">
                <div class="row">
                    <div class="col-lg-7">
                        <h3>{{ activity.title }}</h3>
                    </div>
                    <div class="col-lg-4 pull-right text-right activity-info-status">
                        {% for key, value in ACTIVITY_STATUS %}
                            {% if key == activity.status %}
                                <h3>{{ value }}</h3>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Activity info title -->

            <div class="activity-info-body">
                <div class="row">
                    <div class="col-lg-5">
                        <p><strong>Date: </strong>{{ activity.datetime|date:"Y-m-d H:i" }}</p>
                    </div>
                    <div class="col-lg-7">
                        <p><strong>Location: </strong>{{ activity.location }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <p><strong>Creator: </strong>{{ activity.creator }}</p>
                    </div>
                    <div class="col-lg-7">
                        <p><strong>Organizer: </strong>{{ activity.organizer }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <p><strong>Content: </strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="activity-info-body-desc">
                            <p>{{ activity.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- activity info content -->

            <div class="activity-info-btn-group activity-info-body">
                <div class="row">
                    <div class="col-lg-6 activity-info-btn-share">
                        <label>Some share button</label>
                    </div>
                    <div class="col-lg-6 text-right">
                        {% if user.is_staff or activity.creator == userinfo or activity.organizer == userinfo%}
                            {% if activity.organizer != userinfo %}
                                <button class="btn btn-sm btn-primary">Delete</button>
                            {% endif %}
                            {% if activity.status == 1 %}
                                <button class="btn btn-sm btn-primary">Publish</button>
                            {% else %}
                                {% if activity.status == 2 %}
                                    <button class="btn btn-sm btn-primary">Finish</button>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if activity.organizer == userinfo %}
                                <button class="btn btn-sm btn-primary">Publish</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Activity info btn group -->
        </div>
    </div>
    <div class="row">
        <!-- Activity comment row-->
        <div class="activity-comment col-lg-12">

            <div class="row activity-comment-add">
                <div class="col-lg-12">
                    <form role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newcomment">Comment</label>
                            <textarea id="newcomment" class="form-control" rows="4" placeholder="Say something!"></textarea>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-default pull-right" onclick="post_comment()">Submit</button>
                </div>
            </div>

            {% for comment in comments %}
                {% if comment.commentator == userinfo and not comment.is_anonymous %}
                    <div class="row activity-comment-item" id="comment{{ comment.id }}">
                        <div class="col-lg-10">
                            <div class="row activity-comment-header-right">
                                {% if user.is_staff %}
                                    <div class="col-lg-4 text-left">
                                        <button class="btn btn-xs btn-danger" onclick="del_comment({{ comment.id }})">Del</button>
                                    </div>
                                {% endif %}
                                <div class="col-lg-8 text-right pull-right">
                                    <p><strong>{{ comment.commentator.cname }}</strong> @ {{ comment.datetime|date:'Y-m-d H:i' }}</p>
                                </div>
                            </div>
                            <div class="row activity-comment-content">
                                <p>{{ comment.content }}
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div>Image</div>
                        </div>
                    </div>
                {% else %}
                    <div class="row activity-comment-item" id="comment{{ comment.id }}">
                        <div class="col-lg-2">
                            <div>Image</div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-8 text-left">
                                    <p>
                                        <strong>
                                            {% if comment.is_anonymous %}
                                                {% trans 'Anonymous' %}
                                            {% else %}
                                                {{ comment.commentator.cname }}
                                            {% endif %}
                                        </strong> @ {{ comment.datetime|date:'Y-m-d H:i' }}</p>
                                </div>
                                {% if user.is_staff %}
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-xs btn-danger" onclick="del_comment({{ comment.id }})">Del</button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row activity-comment-content">
                                <p>{{ comment.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block extra_body %}

    <script src="{% static 'js/jquery.pin.js' %}"></script>

    <script>
        $(".bs-docs-sidebar").pin({containerSelector: ".container", minWidth: 940});
    </script>

    <script type="text/javascript" src="{% static 'js/classmates.js' %}"></script>

{% endblock %}