{% extends 'include/base_normal.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row">
            <div class="col-lg-3">
                <div class="bs-docs-sidebar">
                    <ul id="infolist" class="nav nav-list main-sidenav">

                        {% for item in activities %}
                            <li id="{{ item.id }}">
                                <div class="row list-item">
                                    <a href="/activity/{{ item.id }}">{{ item.title }} @ {{ item.datetime|date:'Y-m-d H:i' }}</a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-lg-7">
               {% block activity_main_col %}
                   <p>Let's create an activity!</p>
               {% endblock %}
            </div>

            <div class="col-lg-2">
                <div class="bs-docs-sidebar">
                    {% if user.is_staff or activity.creator == userinfo %}
                        <div class="row participants-list-btn-group-1">
                            <button id="btn-manage" class="btn btn-primary">Manage</button>
                        </div>
                    {% endif %}
                    <div class="row participants-list-btn-group-2">
                        <button id="btn-join" class="btn btn-primary" onclick="join_activity()">Join</button>
                        <button id="btn-quit" class="btn btn-primary" onclick="quit_activity()">Quit</button>
                    </div>

                    <div class="participants-list-header">
                        <label>Participants</label>
                    </div>

                    <ul id="participants-list" class="nav nav-list main-sidenav">

                        {% for p in participants %}
                            <li id="participants{{ p.user.id }}">
                                <div class="row list-item">
                                    <a href="/info/{{ p.user.id }}">{{ p.cname }}</a>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>  <!-- /row -->
    </div> <!-- /container -->

    <script src="{% static 'js/activity.js' %}"></script>
{% endblock %}
